.formGrid {
  width: 20rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.8rem;
}

.buttonContainer {
  width: 20rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.submitButton:hover {
  color: #fcf6b1;
}

@media only screen and (min-width: 48rem) {
  .formGrid {
    width: 50rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
